<h2>{{meal.name | uppercase }} Details</h2>  <!-- The word 'uppercase' in the interpolation binding, right after the pipe operator ( | ), activates the built-in UppercasePipe. Pipes are a good way to format strings, currency amounts, dates and other display data. Angular ships with several built-in pipes and you can create your own. See @ https://v5.angular.io/guide/pipes-->
<div><span>Meal id: </span>{{meal.id}}</div>
<div><span>Meal name: </span>{{meal.name}}</div>
<div>
  <label>name:
    <input [(ngModel)]="meal.name" placeholder="name">  <!-- Two-way binding between the textbox and the obj prop 'name', data flows from the component class out to the screen and from the screen back to the class. IMPORT of Angular FormsModule in the App nodule is necessary for this to work!!! -->
  </label>
</div>
