<h2>Menu of the Day Details</h2>
<ul class="meals">
  <li
    *ngFor="let meal of meals"
    (click)="onSelect(meal)"
    [class.selected]="meal === selectedMeal">
    <!-- *ngFor-directive allows creating a loop from a list item meals declared in the .ts of the component -->
    <!-- (click)=... is the event binding to the event handler function onSelect in the meals.component.ts. See @ https://v5.angular.io/tutorial/toh-pt2#add-a-click-event-binding-->
    <!-- [class.selected] adds a selected class to a currently selected li item (li item that is also dispatched to the event handler func). See https://v5.angular.io/tutorial/toh-pt2#style-the-selected-hero -->
    <span class="badge">{{meal.id}}</span> {{meal.name}}
  </li>
</ul>

<div *ngIf="selectedMeal">  <!-- Conditional if-directive for the template. See @ https://v5.angular.io/tutorial/toh-pt2#hide-empty-details-with-ngif -->
  <h2>{{ selectedMeal.name | uppercase }} Details</h2>  <!-- uppercase is an applied pipe to make the text capital. See @ https://v5.angular.io/guide/pipes -->
  <div><span>id: </span>{{selectedMeal.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMeal.name" placeholder="name">  <!-- ngModel is a part of BrowserModule and allows a two-way-binding of data! BrowserModule must be imported in the App Module first. -->
    </label>
  </div>
</div>
